* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 2px solid black;
    background-color: rgb(252, 239, 223);
    height: 500px;
    width: 370px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

input {
    height: 50px;
    width: 200px;
    margin: 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(255, 250, 243);

}

button {
    height: 80px;
    width: 80px;
    margin: 5px;
    font-size: large;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(250, 244, 236);
    cursor: pointer;
}

.two {
    padding: 15px;
}